<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 核心配置文件 -->
<configuration>
  <properties resource="datasources.properties"></properties>
	<!-- 配置日志 -->
 	 <settings>
		<setting name="logImpl" value="LOG4J"/>
	 </settings> 
	<!-- 配置别名  -->
	<typeAliases>
		<package name="pojo"/>
	</typeAliases>
	
	<!-- 配置环境变量 -->
	<environments default="dev_mysql">
		<!-- 配置一个具体环境变量 -->
		<environment id="dev_mysql">
			<!--配置事务管理器  -->
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${data.driver}"/>
				<property name="url" value="${data.url}"/>
				<property name="username" value="${data.username}"/>
				<property name="password" value="${data.password}"/>
			</dataSource>
			
		</environment>
	</environments>
	
	<!-- 配置实体类和数据库表的SQL映射文件 -->
	<mappers>
		<!-- 自动扫描dao包中文件  -->
		<package name="dao"/>
	</mappers>
	
	
</configuration>
